pipeline/Bronze Ingest.json
{
	"name": "Bronze Ingest",
	"properties": {
		"activities": [
			{
				"name": "lk_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select a.tableName\n\t  ,a.tableSchema\n\t  ,b.ingestType\nfrom controller.ingestTables a (nolock)\njoin controller.ingestType   b (nolock) on a.idIngestType = b.idIngestType",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "controller",
							"tbName": "tabelas"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lk_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "bronzeIngestFull",
							"description": "Ingestão full na camada bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().tableSchema",
											"type": "Expression"
										},
										"tbName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"path": {
											"value": "AdventureWorks/full/@{item().tableSchema}",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "pr_update_waterMark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "bronzeIngestFull",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[controller].[pr_update_waterMark]",
								"storedProcedureParameters": {
									"adfPipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"adlsLayer": {
										"value": "bronze",
										"type": "String"
									},
									"ingestedRows": {
										"value": {
											"value": "@activity('bronzeIngestFull').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ingestEndDateTime": {
										"value": {
											"value": "@formatDateTime(addSeconds(convertFromUtc(activity('bronzeIngestFull').output.executionDetails[0].start, 'E. South America Standard Time'),activity('bronzeIngestFull').output.copyDuration), 'yyyy-MM-dd hh:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ingestStartDateTime": {
										"value": {
											"value": "@formatDateTime(convertFromUtc(activity('bronzeIngestFull').output.executionDetails[0].start, 'E. South America Standard Time'),'yyyy-MM-dd hh:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ingestType": {
										"value": {
											"value": "@item().ingestType",
											"type": "Expression"
										},
										"type": "String"
									},
									"mostRecentDateTime": {
										"value": null,
										"type": "DateTime"
									},
									"tableName": {
										"value": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"tableSchema": {
										"value": {
											"value": "@item().tableSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLocalAlex",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"start": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bronze Ingest Full"
		},
		"annotations": []
	}
}