pipeline/ingest_dbo_product_full.json
{
	"name": "ingest_dbo_product_full",
	"properties": {
		"activities": [
			{
				"name": "Set Current Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@utcNow('yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ingest Product",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Current Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ProductAlternateKey",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductAlternateKey",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductSubcategoryKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductSubcategoryKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "WeightUnitMeasureCode",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "WeightUnitMeasureCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SizeUnitMeasureCode",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "SizeUnitMeasureCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EnglishProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishProductName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SpanishProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishProductName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FrenchProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchProductName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinishedGoodsFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FinishedGoodsFlag",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SafetyStockLevel",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SafetyStockLevel",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ReorderPoint",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ReorderPoint",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SizeRange",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SizeRange",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "DaysToManufacture",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DaysToManufacture",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ProductLine",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "ProductLine",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DealerPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "DealerPrice",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "Class",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "Class",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Style",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "Style",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ModelName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ModelName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LargePhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								},
								"sink": {
									"name": "LargePhoto",
									"type": "Byte[]",
									"physicalType": "BINARY"
								}
							},
							{
								"source": {
									"name": "EnglishDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FrenchDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ChineseDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ChineseDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ArabicDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ArabicDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "HebrewDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HebrewDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ThaiDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ThaiDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GermanDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GermanDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JapaneseDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JapaneseDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TurkishDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TurkishDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "StartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StartDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "EndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EndDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"tbName": "DimProduct"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"path": {
								"value": "dbo/DimProduct/@{variables('current_date')}",
								"type": "Expression"
							},
							"fileName": "file.parquet"
						}
					}
				]
			}
		],
		"variables": {
			"current_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-10T23:13:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}