pipeline/ingest_dbo_FactInternetSales_inc.json
{
	"name": "ingest_dbo_FactInternetSales_inc",
	"properties": {
		"activities": [
			{
				"name": "lk_water_mark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select max(mostRecentDateTime) as mostRecentDateTime\nfrom controller.water_mark\nwhere 1 = 1\nand tableName = 'dbo.FactInternetSales'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "controller",
							"tbName": "water_mark"
						}
					}
				}
			},
			{
				"name": "if_water_mark_isnull",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lk_water_mark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('lk_water_mark').output.firstRow.mostRecentDateTime)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "set_water_mark_false",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "@activity('lk_water_mark').output.firstRow.mostRecentDateTime",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "set_water_mark_true",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "1900-01-01",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ingestData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "if_water_mark_isnull",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.FactInternetSales\nwhere 1 = 1\nand OrderDate > '@{variables('water_mark')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "OrderDateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OrderDateKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DueDateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DueDateKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShipDateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShipDateKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "PromotionKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PromotionKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CurrencyKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CurrencyKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SalesTerritoryKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesTerritoryKey",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SalesOrderNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesOrderNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesOrderLineNumber",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "SalesOrderLineNumber",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "RevisionNumber",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "RevisionNumber",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "OrderQuantity",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderQuantity",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ExtendedAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ExtendedAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "UnitPriceDiscountPct",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "UnitPriceDiscountPct",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "DiscountAmount",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "DiscountAmount",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "ProductStandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ProductStandardCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "TotalProductCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "TotalProductCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "SalesAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "SalesAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "TaxAmt",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "TaxAmt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "Freight",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Freight",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "CarrierTrackingNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CarrierTrackingNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CustomerPONumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerPONumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DueDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DueDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShipDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"tbName": "FactInternetSales"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"path": {
								"value": "dbo/FactInternetSales/@{utcNow('yyyyMMdd')}",
								"type": "Expression"
							},
							"fileName": {
								"value": "file-@{variables('water_mark')}.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "if_has_rows_read",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingestData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingestData').output.rowsRead,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "lk_mostRecentDateTime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select max(OrderDate) as mostRecentDateTime\nfrom dbo.FactInternetSales",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"tbName": "FactInternetSales"
									}
								}
							}
						},
						{
							"name": "proc_update_water_mark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lk_mostRecentDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[controller].[update_water_mark]",
								"storedProcedureParameters": {
									"mostRecentDateTime": {
										"value": {
											"value": "@activity('lk_mostRecentDateTime').output.firstRow.mostRecentDateTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": "dbo.FactInternetSales",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLocalAlex",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"water_mark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-10T23:13:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}